In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_excel('/content/Nouveau file.xlsx', header=None)

In [ ]:
df.head()

                                                   0
0  >hsa-let-7a-5p MIMAT0000062 Homo sapiens let-7...
1                             UGAGGUAGUAGGUUGUAUAGUU
2  >hsa-let-7a-3p MIMAT0004481 Homo sapiens let-7...
3                              CUAUACAAUCUACUGUCUUUC
4  >hsa-let-7a-2-3p MIMAT0010195 Homo sapiens let...

In [ ]:
total = len(df)
total

5312

In [ ]:
#seperation or rows one for RNA(even id) and other for sequence(Odd id)
odds= []
evens = []
for i in range(total):
    if i%2 == 0:
        odds.append(i)
    else:
        evens.append(i)

In [ ]:
# the index of each row
df_evens = df.iloc[evens].reset_index()
df_odds = df.iloc[odds].reset_index()

In [ ]:
df_odds

      index                                                  0
0         0  >hsa-let-7a-5p MIMAT0000062 Homo sapiens let-7...
1         2  >hsa-let-7a-3p MIMAT0004481 Homo sapiens let-7...
2         4  >hsa-let-7a-2-3p MIMAT0010195 Homo sapiens let...
3         6  >hsa-let-7b-5p MIMAT0000063 Homo sapiens let-7...
4         8  >hsa-let-7b-3p MIMAT0004482 Homo sapiens let-7...
...     ...                                                ...
2651   5302  >hsa-miR-12131 MIMAT0049025 Homo sapiens miR-1...
2652   5304  >hsa-miR-12132 MIMAT0049026 Homo sapiens miR-1...
2653   5306  >hsa-miR-12133 MIMAT0049027 Homo sapiens miR-1...
2654   5308  >hsa-miR-12135 MIMAT0049031 Homo sapiens miR-1...
2655   5310  >hsa-miR-12136 MIMAT0049032 Homo sapiens miR-1...

[2656 rows x 2 columns]

In [ ]:
#brings together Rna ids and Sequences in different columns
df = df_evens.join(df_odds, lsuffix='_caller', rsuffix='_other')

In [ ]:
df.drop(['index_caller', 'index_other'], axis=1, inplace = True)

In [ ]:
df

                    0_caller                                            0_other
0     UGAGGUAGUAGGUUGUAUAGUU  >hsa-let-7a-5p MIMAT0000062 Homo sapiens let-7...
1      CUAUACAAUCUACUGUCUUUC  >hsa-let-7a-3p MIMAT0004481 Homo sapiens let-7...
2     CUGUACAGCCUCCUAGCUUUCC  >hsa-let-7a-2-3p MIMAT0010195 Homo sapiens let...
3     UGAGGUAGUAGGUUGUGUGGUU  >hsa-let-7b-5p MIMAT0000063 Homo sapiens let-7...
4     CUAUACAACCUACUGCCUUCCC  >hsa-let-7b-3p MIMAT0004482 Homo sapiens let-7...
...                      ...                                                ...
2651    UUUGGAGAGGUGUACUCCCA  >hsa-miR-12131 MIMAT0049025 Homo sapiens miR-1...
2652  UAUUACUGUGAGAAUUAUGAUG  >hsa-miR-12132 MIMAT0049026 Homo sapiens miR-1...
2653  CUUGGCACCAUUAAAAAGUACA  >hsa-miR-12133 MIMAT0049027 Homo sapiens miR-1...
2654      UAAAGGUUUGUUUGUAAA  >hsa-miR-12135 MIMAT0049031 Homo sapiens miR-1...
2655      GAAAAAGUCAUGGAGGCC  >hsa-miR-12136 MIMAT0049032 Homo sapiens miR-1...

[2656 rows x 2 columns]

In [ ]:
df['0_other'].iloc[0] #[1:].split(' ')[0]

'>hsa-let-7a-5p MIMAT0000062 Homo sapiens let-7a-5p'

In [ ]:
#to find RNAid and make new columns just for id 
df['Rna_id'] = df['0_other'].apply( lambda x :  x[1:].split(' ')[0])

In [ ]:
df

                    0_caller  ...           Rna_id
0     UGAGGUAGUAGGUUGUAUAGUU  ...    hsa-let-7a-5p
1      CUAUACAAUCUACUGUCUUUC  ...    hsa-let-7a-3p
2     CUGUACAGCCUCCUAGCUUUCC  ...  hsa-let-7a-2-3p
3     UGAGGUAGUAGGUUGUGUGGUU  ...    hsa-let-7b-5p
4     CUAUACAACCUACUGCCUUCCC  ...    hsa-let-7b-3p
...                      ...  ...              ...
2651    UUUGGAGAGGUGUACUCCCA  ...    hsa-miR-12131
2652  UAUUACUGUGAGAAUUAUGAUG  ...    hsa-miR-12132
2653  CUUGGCACCAUUAAAAAGUACA  ...    hsa-miR-12133
2654      UAAAGGUUUGUUUGUAAA  ...    hsa-miR-12135
2655      GAAAAAGUCAUGGAGGCC  ...    hsa-miR-12136

[2656 rows x 3 columns]

In [ ]:
ss=df['0_caller'][1]
ss

'CUAUACAAUCUACUGUCUUUC'

In [ ]:
df['new_se']=''

In [ ]:
df

                    0_caller  ... new_se
0     UGAGGUAGUAGGUUGUAUAGUU  ...
1      CUAUACAAUCUACUGUCUUUC  ...
2     CUGUACAGCCUCCUAGCUUUCC  ...
3     UGAGGUAGUAGGUUGUGUGGUU  ...
4     CUAUACAACCUACUGCCUUCCC  ...
...                      ...  ...    ...
2651    UUUGGAGAGGUGUACUCCCA  ...
2652  UAUUACUGUGAGAAUUAUGAUG  ...
2653  CUUGGCACCAUUAAAAAGUACA  ...
2654      UAAAGGUUUGUUUGUAAA  ...
2655      GAAAAAGUCAUGGAGGCC  ...

[2656 rows x 4 columns]

In [ ]:

for j in range(0,len(df['0_caller'])):
  ss=df['0_caller'][j]
  new=""
  for i in range(0,len(ss)):
   if ss[i]=='A':
      new +='U'
   else:
     if ss[i]=='C':
          new +='G'
     else: 
        if ss[i]=='U':
            new +='A'
        else:
          if ss[i]=='G':
              new +='C'

  df['new_se'][j]=new

In [ ]:
df['new_se']

0       ACUCCAUCAUCCAACAUAUCAA
1        GAUAUGUUAGAUGACAGAAAG
2       GACAUGUCGGAGGAUCGAAAGG
3       ACUCCAUCAUCCAACACACCAA
4       GAUAUGUUGGAUGACGGAAGGG
                 ...
2651      AAACCUCUCCACAUGAGGGU
2652    AUAAUGACACUCUUAAUACUAC
2653    GAACCGUGGUAAUUUUUCAUGU
2654        AUUUCCAAACAAACAUUU
2655        CUUUUUCAGUACCUCCGG
Name: new_se, Length: 2656, dtype: object

In [ ]:
all_data = pd.read_csv('all_data.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,1,2,3,4,5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
all_data

                                             ncRNA Symbol  ... PubMed ID;
0                                              hsa-let-7a  ...       N/A;
1       hsa-let-7a,lncRNA,Homo sapiens,acute myeloid l...  ...        NaN
2                                              hsa-let-7a  ...       N/A;
3                                              hsa-let-7a  ...       N/A;
4                                              hsa-let-7a  ...       N/A;
...                                                   ...  ...        ...
206956                                                NaN  ...       N/A;
206957                                                NaN  ...       N/A;
206958                                                NaN  ...       N/A;
206959                                                NaN  ...       N/A;
206960                                                NaN  ...       N/A;

[206961 rows x 9 columns]

In [ ]:
# the number of Nan values 
all_data['ncRNA Symbol'].isna().sum()

149301

In [ ]:
#unique elements in ncRNA symbol
all_data['ncRNA Symbol'].unique()

array(['hsa-let-7a',
       'hsa-let-7a,lncRNA,Homo sapiens,acute myeloid leukemia,N/A,Regulation [up-regulated],N/A,"Deregulation of miR-1, miR486, and let-7a in cytogenetically normal acute myeloid leukemia: association with NPM1 and FLT3 mutation and clinical characteristics.",N/A;',
       'hsa-let-7a,lncRNA,Homo sapiens,glioma,N/A,Regulation [down-regulated],N/A,"Overexpressed let-7a inhibits glioma cell malignancy by directly targeting K-ras, independently of PTEN.",N/A;',
       ...,
       'hsa-miR-375,lncRNA,Homo sapiens,gastric cancer,"subtype1: Helicobacter  pylori-positive cancer,  subtype2: Helicobacter pylori-negative cancer ",Regulation [down-regulated],N/A,N/A,N/A;',
       'hsa-miR-548c-3p,lncRNA,Homo sapiens,gastric cancer,"subtype1: Helicobacter  pylori-positive cancer,  subtype2: Helicobacter pylori-negative cancer ",Regulation [down-regulated],N/A,N/A,N/A;',
       nan], dtype=object)

In [ ]:
# we take just symbols that we have their ID and drop Nan values
all_data = all_data[all_data['ncRNA Symbol'].notna()]

In [ ]:
all_data

                                            ncRNA Symbol  ... PubMed ID;
0                                             hsa-let-7a  ...       N/A;
1      hsa-let-7a,lncRNA,Homo sapiens,acute myeloid l...  ...        NaN
2                                             hsa-let-7a  ...       N/A;
3                                             hsa-let-7a  ...       N/A;
4                                             hsa-let-7a  ...       N/A;
...                                                  ...  ...        ...
57655  hsa-miR-204-5p,lncRNA,Homo sapiens,gastric can...  ...        NaN
57656  hsa-miR-338-5p,lncRNA,Homo sapiens,gastric can...  ...        NaN
57657  hsa-miR-375,lncRNA,Homo sapiens,gastric cancer...  ...        NaN
57658  hsa-miR-548c-3p,lncRNA,Homo sapiens,gastric ca...  ...        NaN
57659                                        hsa-miR-15a  ...       N/A;

[57660 rows x 9 columns]

In [ ]:
# the same thing for Disease Names our two important columns that we wll apply our model on them 
all_data = all_data[all_data['Disease Name'].notna()]

In [ ]:
all_data

         ncRNA Symbol  ... PubMed ID;
0          hsa-let-7a  ...       N/A;
2          hsa-let-7a  ...       N/A;
3          hsa-let-7a  ...       N/A;
4          hsa-let-7a  ...       N/A;
5          hsa-let-7a  ...       N/A;
...               ...  ...        ...
57647  hsa-miR-574-3p  ...       N/A;
57649      hsa-miR-21  ...       N/A;
57650     hsa-miR-23a  ...       N/A;
57651     hsa-miR-27a  ...       N/A;
57659     hsa-miR-15a  ...       N/A;

[56622 rows x 9 columns]

In [ ]:
all_data['ncRNA Symbol'].isna().sum()

0

In [ ]:
# get just the Id from ncRNA symbol because they contains others text and puth it in new columns Rna_id
all_data['Rna_id']=all_data['ncRNA Symbol'].apply( lambda x :  x.split(',')[0])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
all_data

         ncRNA Symbol ncRNA Category  ... PubMed ID;          Rna_id
0          hsa-let-7a         lncRNA  ...       N/A;      hsa-let-7a
2          hsa-let-7a         lncRNA  ...       N/A;      hsa-let-7a
3          hsa-let-7a         lncRNA  ...       N/A;      hsa-let-7a
4          hsa-let-7a         lncRNA  ...       N/A;      hsa-let-7a
5          hsa-let-7a         lncRNA  ...       N/A;      hsa-let-7a
...               ...            ...  ...        ...             ...
57647  hsa-miR-574-3p         lncRNA  ...       N/A;  hsa-miR-574-3p
57649      hsa-miR-21         lncRNA  ...       N/A;      hsa-miR-21
57650     hsa-miR-23a         lncRNA  ...       N/A;     hsa-miR-23a
57651     hsa-miR-27a         lncRNA  ...       N/A;     hsa-miR-27a
57659     hsa-miR-15a         lncRNA  ...       N/A;     hsa-miR-15a

[56622 rows x 10 columns]

In [ ]:
# drop all columns they have many Nan values in additions to ncRNA symbol because we have now Rna ID 
all_data=all_data.drop(['ncRNA Symbol','Validated Method/Prediction Method', 'Description','PubMed ID;'], axis=1)

In [ ]:
all_data

      ncRNA Category       Species  ...          Dysfunction Pattern          Rna_id
0             lncRNA  Homo sapiens  ...    Regulation [up-regulated]      hsa-let-7a
2             lncRNA  Homo sapiens  ...  Regulation [down-regulated]      hsa-let-7a
3             lncRNA  Homo sapiens  ...  Regulation [down-regulated]      hsa-let-7a
4             lncRNA  Homo sapiens  ...  Regulation [down-regulated]      hsa-let-7a
5             lncRNA  Homo sapiens  ...  Regulation [down-regulated]      hsa-let-7a
...              ...           ...  ...                          ...             ...
57647         lncRNA  Homo sapiens  ...    Regulation [up-regulated]  hsa-miR-574-3p
57649         lncRNA  Homo sapiens  ...    Regulation [up-regulated]      hsa-miR-21
57650         lncRNA  Homo sapiens  ...    Regulation [up-regulated]     hsa-miR-23a
57651         lncRNA  Homo sapiens  ...    Regulation [up-regulated]     hsa-miR-27a
57659         lncRNA           NaN  ...                          NaN     hsa-miR-15a

[56622 rows x 6 columns]

In [ ]:
df=df.rename(columns={'0_caller': 'Sequence'})
df=df.rename(columns={'new_se': 'Anti_Sequence'})

df.head()

                 Sequence  ...           Anti_Sequence
0  UGAGGUAGUAGGUUGUAUAGUU  ...  ACUCCAUCAUCCAACAUAUCAA
1   CUAUACAAUCUACUGUCUUUC  ...   GAUAUGUUAGAUGACAGAAAG
2  CUGUACAGCCUCCUAGCUUUCC  ...  GACAUGUCGGAGGAUCGAAAGG
3  UGAGGUAGUAGGUUGUGUGGUU  ...  ACUCCAUCAUCCAACACACCAA
4  CUAUACAACCUACUGCCUUCCC  ...  GAUAUGUUGGAUGACGGAAGGG

[5 rows x 4 columns]

In [ ]:
df=df.drop(['0_other'],axis=1)

In [ ]:
df.head()

                 Sequence           Rna_id           Anti_Sequence
0  UGAGGUAGUAGGUUGUAUAGUU    hsa-let-7a-5p  ACUCCAUCAUCCAACAUAUCAA
1   CUAUACAAUCUACUGUCUUUC    hsa-let-7a-3p   GAUAUGUUAGAUGACAGAAAG
2  CUGUACAGCCUCCUAGCUUUCC  hsa-let-7a-2-3p  GACAUGUCGGAGGAUCGAAAGG
3  UGAGGUAGUAGGUUGUGUGGUU    hsa-let-7b-5p  ACUCCAUCAUCCAACACACCAA
4  CUAUACAACCUACUGCCUUCCC    hsa-let-7b-3p  GAUAUGUUGGAUGACGGAAGGG

In [ ]:
all_data.loc[pd.isna(all_data["Dysfunction Pattern"]), :].index

Int64Index([1279, 57659], dtype='int64')

In [ ]:
all_data['Dysfunction Pattern'][57659]='Regulation [down-regulated]'
all_data['Dysfunction Pattern'][1279]='Regulation [up-regulated]'

In [ ]:
all_data['Dysfunction Pattern'].isna().sum()

0

In [ ]:
all_data.dtypes

ncRNA Category         object
Species                object
Disease Name           object
Sample                 object
Dysfunction Pattern    object
Rna_id                 object
dtype: object

In [ ]:
df.dtypes

Sequence         object
Rna_id           object
Anti_Sequence    object
dtype: object

In [ ]:
df.join?

In [ ]:
#we merge our two excels based on Rna_id and add sequence to new data 
result = pd.merge(all_data,
                 df,
                 on='Rna_id', 
                 how='inner')

In [ ]:
result

      ncRNA Category  ...           Anti_Sequence
0             lncRNA  ...   GAUAUGUUAGAUGACAGAAAG
1             lncRNA  ...   GAUAUGUUAGAUGACAGAAAG
2             lncRNA  ...   GAUAUGUUAGAUGACAGAAAG
3             lncRNA  ...   GAUAUGUUAGAUGACAGAAAG
4             lncRNA  ...   GAUAUGUUAGAUGACAGAAAG
...              ...  ...                     ...
25751         lncRNA  ...  AAGUGUUCCUCCACAGUAAAUA
25752         lncRNA  ...  AAGUGUUCCUCCACAGUAAAUA
25753         lncRNA  ...  CUUCAACGGGUACAAUAAAAGC
25754         lncRNA  ...    ACUCCUCUACGACCCUGACU
25755         lncRNA  ...   GUAGACCCGUUGACUGACUUG

[25756 rows x 8 columns]

In [ ]:
#reorder the columns
result = result[['Rna_id','Sequence','ncRNA Category','Disease Name','Dysfunction Pattern','Species','Anti_Sequence']]

In [ ]:
for j in range(0,len(result['Dysfunction Pattern'])):
  if result['Dysfunction Pattern'][j]=='Regulation [down-regulated]':
    result['Anti_Sequence'][j]=''

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
result

                Rna_id  ...          Anti_Sequence
0        hsa-let-7a-3p  ...
1        hsa-let-7a-3p  ...
2        hsa-let-7a-3p  ...  GAUAUGUUAGAUGACAGAAAG
3        hsa-let-7a-3p  ...  GAUAUGUUAGAUGACAGAAAG
4        hsa-let-7a-3p  ...  GAUAUGUUAGAUGACAGAAAG
...                ...  ...                    ...
25751  hsa-miR-513b-5p  ...
25752  hsa-miR-513b-5p  ...
25753   hsa-miR-495-5p  ...
25754     hsa-miR-4784  ...   ACUCCUCUACGACCCUGACU
25755  hsa-miR-1298-3p  ...  GUAGACCCGUUGACUGACUUG

[25756 rows x 7 columns]

In [ ]:
#save our final file in Pre_data csv
result.to_csv('pre_data.csv')