In [2]:
import pandas as pd 
import numpy as np
import tensorflow as tf
from tensorflow.keras.layers import Input

In [3]:
data=pd.read_csv('/content/pre_data.csv')

In [4]:
data.head()

   Unnamed: 0         Rna_id  ...       Species          Anti_Sequence
0           0  hsa-let-7a-3p  ...  Homo sapiens  GAUAUGUUAGAUGACAGAAAG
1           1  hsa-let-7a-3p  ...  Homo sapiens  GAUAUGUUAGAUGACAGAAAG
2           2  hsa-let-7a-3p  ...  Homo sapiens  GAUAUGUUAGAUGACAGAAAG
3           3  hsa-let-7a-3p  ...  Homo sapiens  GAUAUGUUAGAUGACAGAAAG
4           4  hsa-let-7a-3p  ...  Homo sapiens  GAUAUGUUAGAUGACAGAAAG

[5 rows x 8 columns]

In [ ]:
#data.drop(['Unnamed: 0','ncRNA Category','Disease Name','Dysfunction Pattern','Species'],axis=1)

In [5]:
data['new_Anti_seque']=''

In [6]:
for j in range(0,len(data['Sequence'])):
  ss=data['Sequence'][j]
  new=""
  for i in range(0,len(ss)):
   if ss[i]=='A':
      new +='T'
   else:
     if ss[i]=='C':
          new +='G'
     else: 
        if ss[i]=='U':
            new +='A'
        else:
          if ss[i]=='G':
              new +='C'

  data['new_Anti_seque'][j]=new

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [7]:
data.head()

   Unnamed: 0         Rna_id  ...          Anti_Sequence         new_Anti_seque
0           0  hsa-let-7a-3p  ...  GAUAUGUUAGAUGACAGAAAG  GATATGTTAGATGACAGAAAG
1           1  hsa-let-7a-3p  ...  GAUAUGUUAGAUGACAGAAAG  GATATGTTAGATGACAGAAAG
2           2  hsa-let-7a-3p  ...  GAUAUGUUAGAUGACAGAAAG  GATATGTTAGATGACAGAAAG
3           3  hsa-let-7a-3p  ...  GAUAUGUUAGAUGACAGAAAG  GATATGTTAGATGACAGAAAG
4           4  hsa-let-7a-3p  ...  GAUAUGUUAGAUGACAGAAAG  GATATGTTAGATGACAGAAAG

[5 rows x 9 columns]

In [8]:
data.drop(['Unnamed: 0','ncRNA Category','Disease Name','Dysfunction Pattern','Species'],axis=1)

                Rna_id  ...          new_Anti_seque
0        hsa-let-7a-3p  ...   GATATGTTAGATGACAGAAAG
1        hsa-let-7a-3p  ...   GATATGTTAGATGACAGAAAG
2        hsa-let-7a-3p  ...   GATATGTTAGATGACAGAAAG
3        hsa-let-7a-3p  ...   GATATGTTAGATGACAGAAAG
4        hsa-let-7a-3p  ...   GATATGTTAGATGACAGAAAG
...                ...  ...                     ...
25751  hsa-miR-513b-5p  ...  AAGTGTTCCTCCACAGTAAATA
25752  hsa-miR-513b-5p  ...  AAGTGTTCCTCCACAGTAAATA
25753   hsa-miR-495-5p  ...  CTTCAACGGGTACAATAAAAGC
25754     hsa-miR-4784  ...    ACTCCTCTACGACCCTGACT
25755  hsa-miR-1298-3p  ...   GTAGACCCGTTGACTGACTTG

[25756 rows x 4 columns]

In [10]:
data = data[['Rna_id','Sequence','new_Anti_seque']]

In [11]:
data.to_csv('fin_data.csv')

In [12]:
df=pd.read_csv('/content/fin_data.csv')

In [13]:
df.head()

   Unnamed: 0         Rna_id               Sequence         new_Anti_seque
0           0  hsa-let-7a-3p  CUAUACAAUCUACUGUCUUUC  GATATGTTAGATGACAGAAAG
1           1  hsa-let-7a-3p  CUAUACAAUCUACUGUCUUUC  GATATGTTAGATGACAGAAAG
2           2  hsa-let-7a-3p  CUAUACAAUCUACUGUCUUUC  GATATGTTAGATGACAGAAAG
3           3  hsa-let-7a-3p  CUAUACAAUCUACUGUCUUUC  GATATGTTAGATGACAGAAAG
4           4  hsa-let-7a-3p  CUAUACAAUCUACUGUCUUUC  GATATGTTAGATGACAGAAAG

In [14]:
Rna_ids=df['Rna_id'].unique()
Rna_ids

array(['hsa-let-7a-3p', 'hsa-let-7g-5p', 'hsa-miR-17-5p', ...,
       'hsa-miR-495-5p', 'hsa-miR-4784', 'hsa-miR-1298-3p'], dtype=object)

In [17]:
number_rna=input("please How much number of rna will use 2 or 3: " )
if number_rna==2:
  rna_id1=input("please enter the id of rna1: " )
  rna_id2=input("please enter the id of rna2: " )
  if (rna_id1 and rna_id2 not in Rna_ids):
     print("error: Incorrect Rna_id")
  else:
    spacer=input("please enter spacer sequence:")
    anti_seuence1=data[data['Rna_id']==rna_id1]['new_Anti_seque']
    anti_seuence2=data[data['Rna_id']==rna_id2]['new_Anti_seque']
    output=anti_seuence1.iloc[0]+ spacer+anti_seuence2.iloc[0]
    print('your microArn sponge sequence is:', output)
else:
  rna_id1=input("please enter the id of rna1: " )
  rna_id2=input("please enter the id of rna2: " )
  rna_id3=input("please enter the id of rna3: " )
  if (rna_id1 and rna_id2 and rna_id3 not in Rna_ids):
      print("error: Incorrect Rna_id")
  else:
    spacer=input("please enter spacer sequence:")
    anti_seuence1=data[data['Rna_id']==rna_id1]['new_Anti_seque']
    anti_seuence2=data[data['Rna_id']==rna_id2]['new_Anti_seque']
    anti_seuence3=data[data['Rna_id']==rna_id3]['new_Anti_seque']
    output=anti_seuence1.iloc[0]+ spacer+anti_seuence2.iloc[0]+spacer+anti_seuence3.iloc[0]
    print('your microArn sponge sequence is:', output)

please How much number of rna will use 2 or 3: 3
please enter the id of rna1: hsa-miR-4784
please enter the id of rna2: hsa-miR-1298-3p
please enter the id of rna3: hsa-let-7g-5p
please enter spacer sequence:AUAU
your microArn sponge sequence is: ACTCCTCTACGACCCTGACTAUAUGTAGACCCGTTGACTGACTTGAUAUACTCCATCATCAAACATGTCAA